<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <div>
  <header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
  <h1>Rock Paper Scissors</h1>
</header>
</div>
<div>
  <body>
    <%= yield%>
  </body>
</div>
</html>
